body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

p {
    font-size: 24px;
    text-align: center;
}

strong {
    color: red;
}

.img-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.img-centered {
    max-width: 100%;
    max-height: 100%;
}

.recipeTitle {
    text-align: center;
    font-size: 48px;
}

#recipeIngredientsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.recipeInstructions {
    text-align: left;
    font-size: 24px;
    color: yellow;
    border: 2px solid white;
}

.navli {
    font-size: 28px;
    text-align: center;
    padding: 10px 10px;
    padding-left: 10px 10px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    color: white;
    background-color: gray;
}